.slides{
    max-height: 300px;
    width: 100%;
    max-width: 400px;
}
    
div{
    margin: 3px;
}

ion-slides{
    width : 100%;
    height : 100%;
}
ion-slide{
    width : 100%;
    height : 100%;
}

ion-card-subtitle{
    font-size: clamp(14px, 3vw, 18px);
    text-transform: uppercase;
}

ion-icon{
    margin-right: 3px;
}

