<ion-grid>
  <ion-row style="height: 100%;" class="ion-content-center">
    <ion-col *ngFor="let tour of tours" size-lg="3" size-md="4" size-sm="6" size="12">
      <ion-card >
    <ion-card-content>
      <div><ion-card-subtitle color="primary">{{tour.title}}</ion-card-subtitle></div>
      <div class="ion-text-justify"> <ion-label>{{ tour.shortDescription }}</ion-label></div>
      
    <ion-item>
      <ion-slides>
        <ion-slide pager="true" *ngFor="let photo of tour.photos">
          <ion-img [src]="photo"></ion-img>
        </ion-slide>
      </ion-slides>
    </ion-item>

      <div>
        <ion-label>
          <ion-icon name="cash-outline"></ion-icon>
          {{ tour.price }}
        </ion-label>
      </div>

      <div>
        
        <ion-label>
          <ion-icon name="calendar-outline"></ion-icon> 
          {{ tour.initialDate  | date:"dd/MM/yyyy" }}</ion-label>
        <ion-label>- {{ tour.finalDate  | date:"dd/MM/yyyy" }}</ion-label>
      </div>

      <div>
        <ion-list>
          <ion-chip *ngFor="let point of tour.interestingPoints.slice(0,3)">
            <ion-label>{{ point.description }}</ion-label>
          </ion-chip>
          <ion-chip *ngIf="tour.interestingPoints.length > 3">
            <ion-label>... +{{tour.interestingPoints.length -3 }}</ion-label>
          </ion-chip>
      </ion-list>
      </div>


      <div *ngIf="displayType == 'agency'">
          <ion-button size="small" (click)="viewTour(tour , 'agency')" fill="clear">
            <ion-icon name="eye-outline" slot="start"></ion-icon>
            <ion-label>Ver</ion-label>
          </ion-button>

          <ion-button size="small" (click)="displayTour(tour.id , 'edit')" fill="clear">
            <ion-icon name="create-outline" slot="start"></ion-icon>
            <ion-label>Editar</ion-label>
          </ion-button>

          <ion-button size="small" (click)="deleteTour(tourx)" fill="clear">
            <ion-icon name="trash-outline" slot="start"></ion-icon>
            <ion-label>Eliminar</ion-label>
          </ion-button>
      </div>

      <div *ngIf="displayType != 'agency'" class="ion-text-end">
        <ion-button (click)="viewTour(tour , 'tourist')" size="small" fill="clear">
          <ion-icon name="eye-outline" slot="start"></ion-icon>
          <ion-label>Ver</ion-label>
        </ion-button>
      </div>
    </ion-card-content>
      </ion-card>
    </ion-col>  
  </ion-row>    
</ion-grid>