<ion-header>
  <ion-toolbar>
      <ion-buttons *ngIf="user" slot="end">
        <ion-button *ngIf="userTypeSelected == 0" (click)="setupAgency()">
          <ion-icon name="save-outline"></ion-icon>
        </ion-button>
        <ion-button *ngIf="userTypeSelected == 1" (click)="setupTourist()">
          <ion-icon name="save-outline"></ion-icon>
        </ion-button>
          <ion-button (click)="closeSession()">Cerrar sesión</ion-button>
      </ion-buttons>
  </ion-toolbar>   
</ion-header>   

      <ion-content>
        
        <ion-grid>
          <ion-row  >
            <ion-col size-lg="8" size-md="6" size-sm="6" size="12">
        <ion-card>
          <ion-list *ngIf="user?.type == 2">
              <div><ion-label>¿Cómo quieres configurar tu cuenta?</ion-label></div>
              <div><ion-label><b> **El tipo de cuenta no podrá ser modificada despues</b></ion-label></div>
            <ion-radio-group [(ngModel)]="userTypeSelected">
              <ion-item>
                <ion-label>Turista</ion-label>
                <ion-radio slot="start" value="1" checked>Turista</ion-radio>
              </ion-item>
              <ion-item>
                <ion-label>Agencia</ion-label>
                <ion-radio slot="start" value="0"></ion-radio>
              </ion-item>
            </ion-radio-group>
          </ion-list>

          <form *ngIf="userTypeSelected == 0" [formGroup]="agencyValidation" >

            <app-image-input [multiple]="false" [photo]="images" (setImage)="setImage($event)" title="Foto de perfil" defaultIcon="people-outline"></app-image-input>

            <ion-item>
              <ion-label position="stacked">Nombre</ion-label>
              <ion-input type="text" formControlName="agencyName" [(ngModel)]="agencyName"></ion-input>
            </ion-item>
            <ion-item *ngIf="!agencyValidation.controls.agencyName.valid  && (agencyValidation.controls.agencyName.dirty || submitAttempt)">
              <p>Este campo es requerido</p>
            </ion-item>

            <ion-item >
              <ion-label position="stacked">URL página oficial</ion-label>
              <ion-input type="text" formControlName="agencyURL" [(ngModel)]="agencyURL"></ion-input>
            </ion-item>

            <ion-item>
              <ion-label position="floating">Descripción</ion-label>
              <ion-textarea formControlName="agencyDescription" [(ngModel)]="agencyDescription"></ion-textarea>
            </ion-item>
            <ion-item *ngIf="!agencyValidation.controls.agencyDescription.valid  && (agencyValidation.controls.agencyDescription.dirty || submitAttempt)">
              <p>Este campo es requerido</p>
            </ion-item>
          </form>


          <form *ngIf="userTypeSelected == 1" [formGroup]="userValidation" (submit)="setupTourist()" >

            <app-image-input [multiple]="false" (setImage)="setImage($event)" defaultIcon="person-outline"></app-image-input>

            <ion-item>
              <ion-label position="stacked">Nombre</ion-label>
              <ion-input type="text" formControlName="touristName" [(ngModel)]="touristName"></ion-input>
            </ion-item>
            <ion-item *ngIf="!userValidation.controls.touristName.valid  && (userValidation.controls.touristName.dirty || submitAttempt)">
              <p>Este campo es requerido</p>
            </ion-item>

            <ion-item >
              <ion-label position="stacked">Apellido</ion-label>
              <ion-input type="text" formControlName="touristLastname" [(ngModel)]="touristLastname"></ion-input>
            </ion-item>
            <ion-item *ngIf="!userValidation.controls.touristLastname.valid  && (userValidation.controls.touristLastname.dirty || submitAttempt)">
              <p>Este campo es requerido</p>
            </ion-item>

            <ion-item>
              <ion-label>Fecha de nacimiento</ion-label>
              <ion-datetime formControlName="touristBirthday" [(ngModel)]="touristBirthday" displayFormat="D MMM YYYY" [min]="1900" max="2025"></ion-datetime>
            </ion-item>
            
            <ion-item *ngIf="!userValidation.controls.touristBirthday.valid  && (userValidation.controls.touristBirthday.dirty || submitAttempt)">
              <p>Este campo es requerido</p>
            </ion-item>
          </form>
        </ion-card>

          </ion-col>
        </ion-row>  
      </ion-grid> 
      </ion-content>
 
 

