<ion-toolbar>
  <ion-buttons slot="end">
    <ion-button (click)="openFirst()" slot="icon-only" size="large" color="secondary">
      <ion-icon name="options-outline"></ion-icon>
    </ion-button>
  </ion-buttons>
</ion-toolbar>

<ion-menu side="end" menuId="filter" contentId="main">
  <ion-header>
    <ion-toolbar>
      <ion-label color="primary"><b>Filtros</b></ion-label>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <form>
      <div>
      <app-location-input [multiple]="false" (setAddress)="departurePoint=$event" title="Lugar de salida" onlyCatalog="true" showMap="false" mode="all" [markers]="departurePoint"></app-location-input>
      </div>
      <div>
      <ion-label color="primary">Rango de búsqueda</ion-label>
    </div>
    <ion-item>
        <ion-range [(ngModel)]="kilometers" name="kmRange" pin="true" min="1" max="20" color="secondary">
          <ion-label slot="start">1 Km</ion-label>
          <ion-label slot="end">20 Km</ion-label>
        </ion-range>
    </ion-item>
      
      <div>
        <app-location-input [multiple]="true" (setAddress)="places=$event" title="Lugares a visitar" onlyCatalog="true" showMap="false" max="10" [markers]="places"></app-location-input>
      </div>

      <ion-item>
        <ion-label color="primary">Fecha de salida</ion-label>
        <ion-datetime [(ngModel)]="initialDate" name="initialDate" displayFormat="D MMM YYYY" [min]="2020" max="2025"></ion-datetime>
      </ion-item>

      <ion-item>
        <ion-label color="primary">Fecha de regreso</ion-label>
        <ion-datetime [(ngModel)]="finalDate" name="finalDate" displayFormat="D MMM YYYY" [min]="2020" max="2025"></ion-datetime>
      </ion-item>
      
      <ion-button (click)="showAllTours()" size="small" ><ion-icon name="arrow-undo-outline"></ion-icon> Borrar filtros</ion-button>
      <ion-button (click)="basicSearch()" size="small" ><ion-icon name="search-outline"></ion-icon> Buscar</ion-button>
    </form>
  </ion-content>
</ion-menu>

<ion-content>
  <!--<label *ngIf="!tours">Lo sentimos, no hay tours para mostrar. Intenta una nueva busqueda</label>-->

  <app-tour-grid displayType="catalog" [(user)]="user" [(tours)]="tours" id="main"></app-tour-grid>

</ion-content>
