
  <h5>{{ title}}</h5>


  <div *ngIf="photo.length == 0" class="iconImage ion-text-center">
    <ion-icon [name]="defaultIcon" slot="start"></ion-icon>
  </div> 

  <div *ngFor="let p of photo; let i = index" >
    <ion-img [src]="p" class="imagePreview"></ion-img>
    <ion-chip (click)="deleteImage(i)" >
      <avatar>
        <ion-icon name="trash-outline"></ion-icon>
      </avatar>
    </ion-chip>
  </div> 

  <div>
  <ion-button size="small" (click)="getPicture('camera')">
    <ion-icon name="camera" slot="start"></ion-icon>
    <ion-label>Cámara</ion-label>
  </ion-button>

  <ion-button size="small" (click)="getPicture('gallery')">
    <ion-icon name="image" slot="start"></ion-icon>
    <ion-label>Galeria</ion-label>
  </ion-button>
  <input type="file" *ngIf="isDesktop" #filePicker (change)="onFileChoose($event)" [multiple]="multiple"/>

 </div> 