input[type="file"] {
    display: none;
}

img.imagePreview{
    max-width: 200px;
    max-height: 200px;
}
h5{
    margin-left: 0.9em;
}
div{
    margin-left: 0.9em;
}
ion-img{
    max-width: 300px;
}

.iconImage{
    color : var(--ion-color-medium);
    opacity: 0.3;
    justify-content: center;
}

.iconImage ion-icon{
    width: 200px;
    height: 200px;
}