<ion-grid>
  <ion-row  >
    <ion-col size-lg="8" size-md="6" size-sm="6" size="12">
    <ion-card>
      <form [formGroup]="userValidation" (ngSubmit)="userActionForm()" >


          <ion-img src="../assets/icon/tour4uIcon.png"></ion-img>


        <ion-item>
          <ion-label position="stacked">Correo</ion-label>
          <ion-input type="text" formControlName="email" [(ngModel)]="email"></ion-input>
        </ion-item>

        <ion-item *ngIf="!userValidation.controls.email.valid  && (userValidation.controls.email.dirty || submitAttempt)" >
          <p>Introduce un correo valido.</p>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">Contraseña</ion-label>
          <ion-input type="password" formControlName="password" [(ngModel)]="password"></ion-input>
        </ion-item>
        <ion-item *ngIf="!userValidation.controls.password.valid  && (userValidation.controls.password.dirty || submitAttempt)">
          <p>El password debe de tener mínimo 6 caracteres</p>
        </ion-item>

        <ion-item>
          <ion-toggle [(ngModel)]="hasAccount" formControlName="hasAccount" color="secondary"></ion-toggle>
          <ion-label>Ya tengo una cuenta</ion-label>
        </ion-item>

        <ion-item *ngIf="errorMsg">
        <label class="error-message">{{ errorMsg }}</label>
        </ion-item>
        <div class="ion-text-center">
          <ion-button color="primary" size="small" type="submit" *ngIf="hasAccount" >Acceder</ion-button>
          <ion-button color="primary" size="small" type="submit" *ngIf="!hasAccount" >Crear cuenta</ion-button>
        </div>
      </form>
      <div class="ion-text-center">
        <ion-button color="light" size="small" (click)="resetEmail()">Olvide la contraseña</ion-button>
        </div>
    </ion-card>
  </ion-col>
  </ion-row>
</ion-grid>  