<ion-content>
    <app-user-setup-form *ngIf="user" (usserLogged)="validate()"></app-user-setup-form>
    <app-signup-form *ngIf="!user" (usserLogged)="validate()"></app-signup-form>
    
</ion-content>    
    

