<ion-header>
  <ion-toolbar color="primary">
    <div class="ion-text-wrap">{{ tour.title }}</div>
    <ion-buttons slot="end">
      <ion-button *ngIf="user?.type == 1 && booked" disabled>
        <ion-icon name="checkbox-outline"></ion-icon>
      </ion-button>
      <ion-button *ngIf="user?.type == 1 && !booked" (click)="buy()" >
        <ion-icon name="cart-outline"></ion-icon>
      </ion-button>
    <ion-button (click)="dismiss()" >
      <ion-icon name="close-outline"></ion-icon>
    </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-card>
  <ion-card-header>
    <ion-title color="primary"></ion-title>
  </ion-card-header>
  <ion-card-content>

    <ion-list *ngIf="mode === 'agency'" type="full">
      <ion-list-header color="secondary">
        <ion-label>Usuarios que han contratado</ion-label>
      </ion-list-header>
    <ion-item *ngIf="tourists.length === 0">  
      <ion-label>No han contratado este tour</ion-label>
    </ion-item>
      <ion-item *ngFor="let tourist of tourists" class="item item-text-wrap">
        <ion-label>{{ tourist.name }} {{ tourist.lastname}}</ion-label>
        <ion-label>{{ tourist.email }}</ion-label>
      </ion-item>
    </ion-list>


    <div>
      <ion-label><b>{{tour.shortDescription}}</b></ion-label>
    </div>
    <div>
      <ion-label>{{tour.longDescription}}</ion-label>
    </div>
    <ion-slides>
      <ion-slide pager="true" *ngFor="let photo of tour.photos">
        <ion-img [src]="photo"></ion-img>
      </ion-slide>
    </ion-slides>
    
    <div>
      <ion-icon name="cash-outline"></ion-icon>
      <ion-label>{{ tour.price }}</ion-label>
    </div>

    <div>
      <ion-icon name="calendar-outline"></ion-icon>
      <ion-label>{{ tour.initialDate  | date:"dd/MM/yyyy HH:mm" }}</ion-label>
      <ion-label>- {{ tour.finalDate  | date:"dd/MM/yyyy HH:mm" }}</ion-label>
    </div>

    <app-location-input [multiple]="false" [markers]="departurePoint" title="Lugar de salida" mode="view"></app-location-input>
    <app-location-input [multiple]="true" [markers]="tour.interestingPoints" title="Puntos de interes" mode="view"></app-location-input>

  </ion-card-content>
 </ion-card> 
</ion-content>