<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      <label *ngIf="mode === 'edit'">Editar tour</label>
      <label *ngIf="mode === 'add'">Nuevo tour</label>
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="processTour()" size="large" type="submit">
        <ion-icon *ngIf="mode === 'edit'" name="save-outline"></ion-icon>
        <ion-icon *ngIf="mode === 'add'" name="checkmark-done-outline"></ion-icon>  
      </ion-button>
    <ion-button (click)="dismiss(false)" >
      <ion-icon name="close-outline"></ion-icon>
    </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
  <form [formGroup]="tourValidation" (submit)="processTour()" >

    <ion-item>
      <ion-label position="floating">Título</ion-label>
      <ion-input type= "text" [(ngModel)]="title" formControlName="title"></ion-input>
    </ion-item>
    <ion-item *ngIf="!tourValidation.controls.title.valid  && (tourValidation.controls.title.dirty || submitAttempt)">
      <p>Este campo es requerido y debe contener entre 20 y 100 caracteres</p>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Descripción corta</ion-label>
      <ion-textarea [(ngModel)]="shortDescription" formControlName="shortDescription"></ion-textarea>
    </ion-item>
    <ion-item *ngIf="!tourValidation.controls.shortDescription.valid  && (tourValidation.controls.shortDescription.dirty || submitAttempt)">
      <p>Este campo es requerido y debe contener entre 50 y 200 caracteres</p>
    </ion-item>
    
    <ion-item>
      <ion-label position="floating">Descripción</ion-label>
      <ion-textarea [(ngModel)]="longDescription" formControlName="longDescription"></ion-textarea>
    </ion-item>
    <ion-item *ngIf="!tourValidation.controls.longDescription.valid  && (tourValidation.controls.longDescription.dirty || submitAttempt)">
      <p>Este campo es requerido</p>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Precio</ion-label>
      <ion-input [(ngModel)]="price" formControlName="price" ></ion-input>
    </ion-item>
    <ion-item *ngIf="!tourValidation.controls.price.valid  && (tourValidation.controls.price.dirty || submitAttempt)">
      <p>Este campo es requerido y debe ser númerico</p>
    </ion-item>

    <ion-item>
      <ion-label>Inicio</ion-label>
      <ion-datetime [(ngModel)]="initialDate"  formControlName="initialDate" displayFormat="D MMM YYYY HH:mm" pickerFormat="D MMM YYYY HH:mm" [min]="2020" max="2025"></ion-datetime>
    </ion-item>
    <ion-item *ngIf="!tourValidation.controls.initialDate.valid  && (tourValidation.controls.initialDate.dirty || submitAttempt)">
      <p>Este campo es requerido</p>
    </ion-item>

    <ion-item>
      <ion-label>Termino</ion-label>
      <ion-datetime [(ngModel)]="finalDate" formControlName="finalDate" displayFormat="D MMM YYYY HH:mm" pickerFormat="D MMM YYYY HH:mm" [min]="2020" max="2025"></ion-datetime>
    </ion-item>
    <ion-item *ngIf="!tourValidation.controls.finalDate.valid  && (tourValidation.controls.finalDate.dirty || submitAttempt)">
      <p>Este campo es requerido y no puede ser menor a la fecha inicial</p>
    </ion-item>

    <app-location-input [multiple]="false" [markers]="departurePoint" (setAddress)="departurePoint = $event" title="Lugar de salida" mode="all"></app-location-input>
    <app-location-input [multiple]="true" [markers]="interestingPoints" (setAddress)="interestingPoints = $event" title="Puntos de interes" mode="catalog"></app-location-input>
  
    <app-image-input [multiple]="true" [photo]="photos" (setImage)="photos = $event" title="Fotos del tour" defaultIcon="images-outline"></app-image-input>

  </form>
</ion-card>
</ion-content>
