<ion-header *ngIf="user == null">
  <ion-toolbar color="primary">
<label >Inicia sesión para ver tus tours</label>
    </ion-toolbar>
    </ion-header>
    
<ion-content>
  <ion-fab *ngIf="type == 0 " vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click) = "addTour()" color="secondary">
      <ion-icon name="add-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>


  <app-tour-grid *ngIf="type == 0" displayType="agency" [(userID)]="userID"></app-tour-grid>
  <app-tour-grid *ngIf="type == 1" displayType="tourist" [(userID)]="userID"></app-tour-grid>
</ion-content>

<ion-footer></ion-footer>
