div{
    margin: 1px;
    width: 80%;
    vertical-align: middle;
}
google-map{
    width: 90%;
    height: 90%;
}

h5{
    margin: 5px;
    margin-left: 0.9em;
}

#map_canvas {
    width: 90%;
    height: 80%;
    border: 1px solid red;
  }
  
  #mapita {
    width: 70vw;
    height: 70vh;
  }
  
  .map-wrapper {
    position: relative;
  
    #map_center {
      position: absolute;
      z-index: 99;
      height: 40px;
      width: 40px;
      top: 50%;
      left: 50%;
      margin-left: -21px;
      margin-top: -41px;
    }
  }

input{
    width: 100%;
    height: 40px;
    margin-top: 5px;
    border-color: var(--ion-color-ligth);
    border-top-width: thin;
    border-right-width: thin;
    border-bottom-width: thin;
    border-left-width: thin;
}
