   
    <div>
      <ion-label color="primary">{{title}}</ion-label>
    </div>

    <div>
      <input *ngIf ="mode !== 'view'"
        type="text"
        [(ngModel)]="autocompleteInput"
        #addresstext/>
    </div>   
    <div class="ion-text-star">
          <ion-label *ngIf ="mode === 'all'" (click)="getLocation()" size="small" color="secondary" fill="clear"> 
            <ion-icon name="locate-outline" slot="start"></ion-icon>
            Localizarme
          </ion-label>
        <ion-spinner [(paused)]="!loading" *ngIf="loading"></ion-spinner>
    </div>    

    <div>
        <ion-chip *ngFor="let marker of markers; let i = index">
          {{ marker.description }}
          <ion-icon *ngIf ="mode !== 'view'" name="trash-outline" (click)="deleteMarker(i)"></ion-icon>
        </ion-chip>
    </div>   
    
    <ion-item *ngIf="!showMap">
      <google-map
            [(center)]="center"
            [(zoom)]="zoom"
            [options]="options"
            height="500px"
            width="100%"
            #map>
            
            <map-marker
            *ngFor="let marker of markers"
            [position]="getLatLng( marker.latitude ,  marker.longitude)"
            [title]="marker.description"
            options="{ draggable : true  }"
            (mapDragend) = "markerPositionChanged(marker , $event)">
        </map-marker>  
      </google-map>
    </ion-item>
  

