<ion-tabs>
  <ion-tab-bar slot="bottom" color="primary">

    <ion-tab-button tab="tours">
      <ion-icon name="map-outline"></ion-icon>
      <ion-label>Tours</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="mine">
      <ion-icon name="star-outline"></ion-icon>
      <ion-label>Mis tours</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profile">
      <ion-icon name="person-outline"></ion-icon>
      <ion-label>Perfil</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
